<html>
    <head>
        <script src="{{url_for('static', filename='js/confetti.js')}}"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">  
    </head>
    <body>
        <div id="wheelOfFortune">
            <canvas id="wheel" width="300" height="300"></canvas>
            <div id="spin"></div>
            <div id="text" class="centered"></div>
        </div>

        <script>
            let host = String({{ host }});
            let tele_user = {{ tele_user }};
            let sectors = {{ sectors | tojson }};

            {% include "generator.js" %}
            console.log(toString(host));
            console.log(sectors);

            sectors.forEach(drawSector);
            rotate(); // Initial rotation
            spin();
        </script>

        <script>

            // INIT!
            
            //var confettiSettings = { target: 'wheel' };
            //var confetti = new ConfettiGenerator(confettiSettings);
            
        </script>
        
    </body>
    
</html>